@import "../omarchy/current/theme/waybar.css";

* {
  background-color: transparent;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'DM Sans', 'Material Symbols Rounded', 'JetBrainsMono Nerd Font';
  font-size: 12px;
}

window#waybar {
  background: transparent;
}

/* pills */
#apps,
#system,
#time {
  background-color: #000000;
  border-radius: 999px;
  margin: 3px 5px;
}

.modules-left,
.modules-right {
  margin: 0;
}

#system,
#time {
  padding: 0 10px;
}

#apps {
  padding: 0;
}

#workspaces button {
  all: initial;
  min-width: 14px;
  padding: 0 2px;
  margin: 0;
  color: @foreground;
  font-family: 'DM Sans';
  font-size: 12px;
  font-weight: 700;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces,
#cpu,
#custom-battery-profile,
#custom-weather,
#clock {
  min-width: 12px;
  margin: 0;
  padding: 0 6px;
  font-weight: 600;
}

#pulseaudio,
#custom-omarchy,
#custom-update,
#custom-voxtype,
#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator,
#bluetooth,
#network {
  min-width: 17px;
  margin: 0;
  padding: 0 4px;
}

#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator {
  font-family: 'Material Symbols Rounded';
}

#custom-battery-profile.power-saver {
  color: #e8c76d;
}

#custom-battery-profile.balanced {
  color: #f2f0e8;
}

#custom-battery-profile.performance {
  color: #8fce8f;
}

#tray {
  margin: 0;
  padding: 0 10px;
}

tooltip {
  padding: 4px 8px;
  background-color: #000000;
  border-radius: 8px;
}

#custom-weather.unavailable {
  min-width: 0;
  margin: 0;
  padding: 0;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator.active,
#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active,
#custom-voxtype.recording {
  color: #a55555;
}
